<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      EVERY DAY FITNESS
    </h2>
    <p class='service-explain'>
      fitnessに関する全ての情報をこのサイトでSheaする
    </p>
  </div>
  
  <div class='item-contents'>
    <div class="subtitle" >
      新規投稿記事
    </div>
    <ul class='item-lists'>
      <% @fitnesses.each do |fitness|%>
      <li class='list'>
      <%= link_to fitness_path(fitness.id), method: :get do %>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= fitness.title %>
          </h3>
          <h3 class='item-name'>
            <%= fitness.user.nickname %>
          </h3>
          <div class='item-price'>
            <span><%= fitness.category.name %><br><%= fitness.level.name %></span>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
      <% if @fitnesses.length == 0 %>
        <li class='list'>
           <h3 class='item-name'>
            あなたの情報をSheaしよう！
           </h3>
        </li>
     <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>