<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @fitness.title %>
    </h2>
    <table class="detail-table">
      <tbody>
      <tr>
          <th class="detail-item">投稿記事</th>
          <td class="detail-value"><%= @fitness.info %></td>
        </tr>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= link_to @fitness.user.nickname + "　＜投稿一覧＞", user_path(@fitness.user.id) %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @fitness.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">対象者</th>
          <td class="detail-value"><%= @fitness.level.name %></td>
        </tr>
      </tbody>
    </table>

    <% if user_signed_in? %>
     <% if current_user.id == @fitness.user.id %>
       <%= link_to "編集", edit_fitness_path(@fitness.id), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
       <%= link_to "削除", fitness_path(@fitness.id), method: :delete, class:"item-destroy" %>
     <% end %>
    <% end %>
    <%= link_to "チャットページ" , room_path(room_url), class: "item-red-btn"  %>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>

<%= render "shared/footer" %>
